.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
  padding-top: 3em;
  text-align: center;
}
